<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<input type="hidden" id="name" value="{{name}}">
  <script src="https://meet.jit.si/external_api.js"></script>
  <script>
  
      const name = document.getElementById('name').value;
      const domain = 'meet.jit.si';
      const roomName = 'Online Consultancy';
      const options = {
        roomName: roomName,
        width: 900,
        height: 500,
        parentNode: undefined,
        userInfo: {
          displayName: name
        },
		configOverwrite: {},
                interfaceConfigOverwrite: {
				LANG_DETECTION: true,
              TOOLBAR_BUTTONS: ['camera','microphone','tileview','microphone','hangup','raisehand', 'fullscreen', 'display-capture','settings'],
              filmStripOnly: false,
              DEFAULT_BACKGROUND: '#4dbdea'},
      };
      const api = new JitsiMeetExternalAPI(domain, options);
    
  </script>
</body>
</html>
