<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<br>
<h5 style="color:#FF3300" align="center">Pain Predicted!</h5>
<h5 align="center">Severity Level: {{emo}}</h5>

<iframe src="http://localhost/consult/voice_read.php?mess={{mess}}" width="5" height="5" frameborder="0"></iframe>


<script language="javascript">
setTimeout(function () {
   //Redirect with JavaScript
  window.location.href="/page2?act=2";
}, 4000);

</script>
</body>
</html>
