<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>

 <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>
{% if msg=="ok" %}
<script language="javascript">
window.parent.location.href="/meet?docid={{docid}}";
</script>
{% endif %}

		<p>&nbsp;</p>
		<h4>Online Consultants</h4>
		
		{% for rs in data %}
		<table class="table">		
		<tr style="background-color:#0066CC; color:#FFFFFF">
			<td>{{rs[1]}}</td>
		</tr>
		<tr>
			<td>{{rs[5]}}, {{rs[6]}}</td>
		</tr>				
		<tr>
			<td>Contact: {{rs[3]}}, {{rs[4]}}</td>
		</tr>
		<tr>
		<td align="right"><a href="/view_consult?act=ok&docid={{rs[7]}}">Video Conference</a></td>
		</tr>
		</table>
		<hr>
		<br>
		{% endfor %}

</body>
</html>
